/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.no-hover {
  cursor: not-allowed;
  pointer-events: none;
}

/* -------------------New Code---------------- */

.page1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(207, 200, 200);
  background-image: url(Images/pages/page1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
  margin: 0px;
}

.page2 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(107, 58, 58);
  background-image: url(Images/pages/page2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.page3 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(39, 30, 30);
  background-image: url(Images/pages/page3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.mainHeading {
  margin: 0px;
  padding: 0px;
  color: aliceblue;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 700;
}

.heading {
  z-index: 5;
  position: absolute;
  /* top: 25%;
  left: 10px;
  width: 30%;
  height: 30%; */
  font-size: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 100vw;
  top: 20%;
  height: 70vh;
  display: flex;
  justify-content: center;
  /* gap: 10px; */
}

.container .image-hover {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  transition: all ease-in-out 0.5s;
}

.container .image-hover a {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
}

.container .image-hover a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .image-hover:hover {
  width: 25%;
}

/* -------------------New Code---------------- */
